
.t_center{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*/////////////////////////////////////////////////////////////リスト用テーブル*/
	
	/* 奇数行のスタイル */
	.list tr:nth-child(odd){
		background-color:lightgray;
		text-align: center;
	}
	
	/* 偶数行のスタイル */
	.list tr:nth-child(even){
		background-color:white;
		text-align: center;
	}
	
	/* テーブルヘッダ行のスタイル */
	.list th {
		background-color: #ffd78c;
		height: 40;
	}
	/* テーブル列のスタイル */
	.list td {
		height: 60;
	}
	/*ボタンの高さを中央揃え*/
	.list td input[type="submit"] {
		float: left;
		margin: 0 auto;
		width: 100%;
	}
	
	/* テーブルのスタイル */
	.list table, td, th {
		border-collapse: collapse;
		border:1px solid gray;
		padding-left:5px;
		padding-right:5px;
		font-size: 13px;
		margin-left: auto;
		margin-right: auto;
	}
  
  /*/////////////////////////////////////////////////////////////登録、編集用テーブル*/
	
	/* 奇数行のスタイル */
	.edit tr:nth-child(odd){
		background-color:white;
	}
	
	/* 偶数行のスタイル */
	.edit tr:nth-child(even){
		background-color:white;
	}
	
	/* テーブルヘッダ行のスタイル */
	.edit th {
		background-color: #ffd78c;
		text-align: center;
	}
	/* テーブル列のスタイル */
	.edit td {
		height: 60;
	}
	/*ボタンの高さを中央揃え*/
	.edit td input[type="submit"] {
		float: left;
		margin: 0 auto;
		width: 100%;
	}
	
	/* テーブルのスタイル */
	.edit table, td, th {
		border-collapse: collapse;
		border:1px solid gray;
		padding-left:5px;
		padding-right:5px;
		font-size: 13px;
		margin-left: auto;
		margin-right: auto;
	}

/*/////////////////////////////////////////////////////////////*/
  .textarea_ex {
    border: 1px solid #686868;  /* 枠線 */
    border-radius: 0.3em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: #ffffff;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
    }

    /*検索ボタン*/
  .searchbtn{
    display       : inline-block;
    border-radius: 0.67em;   /* 角丸 */
    font-size     : 12pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 18px 50px;   /* 余白       */
    margin       : 0px 20px 10px 20px;   /* 余白       */
    background    : #98b6f8;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #000066;    /* 枠の指定 */
    }

/*-------------------------------------------------------------------------*/
.inputbtn{
	display       : inline-block;
	border-radius: 0.67em;   /* 角丸 */
	font-size     : 12pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 8px 30px;   /* 余白       */
	margin       : 0px 5px;   /* 余白       */
	background    : #95dedd;     /* 背景色     */
	width:200px;
	height:70px;
	color         : #000000;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	border        : 1px solid #9e9e9e;    /* 枠の指定 */
  }

.waku_black{
	border: 1px solid #000000;
	padding: 10px 50px 10px 50px;
}

.spacer {
    height: 10px;
}

.btn-gradient-radius {
  display: inline-block;
  padding: 5px 0px;
  margin: 10px 0px;
  border-radius: 30px;
  width: 250px;
  border: none;
  outline: none;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #edbc66 0%, #edbc66 100%);
  transition: .4s;
}
.btn-gradient-radius:focus {
  outline: none; 
  box-shadow: none; 
}
.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #7ecfc9 0%, #7ecfc9 100%);
}

.btn-gradient-radius-icon {
  width: 150px;
  background-image: linear-gradient(45deg, #6668ed 0%, #9193e9 100%);
}
.btn-gradient-radius-block {
  width: 150px;
  background-image: linear-gradient(45deg, #edbc66 0%, #f8d98f 100%);
}
.btn-gradient-radius-flow {
  width: 150px;
  background-image: linear-gradient(45deg, #66cdaa 0%, #3cb371 100%);
}
.btn-gradient-radius-word {
  width: 150px;
  background-image: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%);
}
.btn-gradient-radius-melody {
  width: 150px;
  background-image: linear-gradient(45deg, #f77062 0%, #fe5196 100%);
}

.btn-gradient-radius-client {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #2cb5db 0%, #7ae2ff 100%);
  transition: .4s;
}
.btn-gradient-radius-server {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #4bbf2e 0%, #7fe665 100%);
  transition: .4s;
}

.admin_menu_back_network{	
    background-color: #dfdfdf;  /* 背景色 */
}
h4{
	color: #364e96;/*文字色*/
	padding: 0.5em 0;/*上下の余白*/
	border-top: solid 3px #364e96;/*上線*/
	border-bottom: solid 3px #364e96;/*下線*/
	font-size: 20pt;
	font-weight: bold;
}

.tantou_title_client{
  font-size: 15pt;
  color: #fff;
  padding: 1rem 2rem;
  border-bottom: 6px double #fff;
  background: #2cb5db;
  margin-left: 3rem;
}
.tantou_title_server{
  font-size: 15pt;
  color: #fff;
  padding: 1rem 2rem;
  border-bottom: 6px double #fff;
  background: #4bbf2e;
  margin-left: 3rem;
}

.btn-menu-radius-preview {
  padding: 1rem 2rem;
  background: #ffe8b3;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}